@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <h1 class="display-4 font-monospace">Empréstimos Online</h1>
    <p>Abra um livro <i class="bi bi-book-half"></i>, deixe-se levar. Um novo mundo  você vai encontrar!</p>
    <div>
        <img src="/img/book.png"/>
    </div>


</div>
